body {
  font-family: sans-serif;
}

input {
  border-radius: 8px;
  border: none;
  padding: 8px 18px;
  outline: none;
}

button {
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}

li {
  margin-right: 8px;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
